<!-- header.ejs, Maksym Bezverkhnii, 301287637, September 27, 2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <table>
        
        <tr>
            <div class="logo">
                <a href="/"><img src="/images/logo.png"></a> 
            </div>
            <div class="text-right">
                <a class="<%= currentPageUrl === '/about' ? 'active' : '' %>" href="/about">About Us</a>
                <a class="<%= currentPageUrl === '/projects' ? 'active' : '' %>" href="/projects">Projects</a>
                <a class="<%= currentPageUrl === '/services' ? 'active' : '' %>" href="/services">Services</a>
                <a class="<%= currentPageUrl === '/contact' ? 'active' : '' %>" href="/contact">Contact Me</a>
            </div>
        </tr>
    </table>
</body>
</html>