<!-- about.ejs, Maksym Bezverkhnii, 301287637, September 27, 2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <%- include('partials/header', { currentPageUrl: locals.currentPageUrl }) %>
    <div class="main">
        <div class="horizontal_container_about ">
            <div>
                <h3>My name is Maksym Bezverkhnii, I am a Centennial college student. My hobbies are sports, cars and health topics. I am profficient in few topics: IOS Development, C# Development, Web Development.</h3>
            </div>
            <div>
                <image src="/images/me.jpg"></image>
            </div>
        </div>
    </div>
</body>
</html>