<!-- home.ejs, Maksym Bezverkhnii, 301287637, September 27, 2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <%- include('partials/header', { currentPageUrl: currentPageUrl }) %>
    <div class="main">
        Welcome everyone to my Personal Homepage. <br>
        I will tell about myself and provide my services. <br> <br>

        I am happy to see you on my page.
        If you want to know more about me <a href="/about">click here</a>. 
        <br><br><br>
        <strong>My mission statement</strong> <br>
        Show my programming skills and ideas, also use this page as my portfolio. <br>
        I am open for jobs and internships.
    </div>
</body>
</html>