<!-- services.ejs, Maksym Bezverkhnii, 301287637, September 27, 2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <%- include('partials/header', { currentPageUrl: locals.currentPageUrl }) %>
    <div class="main">
    <h1>Services we provide:</h1>
    <ul>
        <li>Web Sites Development</li>
        <li>Mobile Development</li>
        <li>AI Development</li>
        <li>Game Development</li>
        <li>Database Development</li>
    </ul>
    </div>
</body>
</html>